# Binning

Tip on creating a new features;
We can categorise the elevation variables through binning.
For example: Elevations from 0 - 100 can be categorised as steep, 100 - 120 very steep and maybe elevations with more than 120 can categorised as extremely steep.
Experiment with different bins and choose the ones with the highest performance.

### Elevation

in second argument of pd.cut you can configure the bins, and label is the name of respective bin
so here 0-99 is bin 0, 100-199 is bin 1, 200-999 is bin 2, else it's NaN

In [29]:
import pandas as pd
import numpy as np
from dfcols import all_square_cols

train = pd.read_csv('./data/Train.csv')
test = pd.read_csv('./data/Test.csv')
sample_submission = pd.read_csv('./data/SampleSubmission.csv')

elevationCols = all_square_cols("elevation")

elevationCols = train[elevationCols]

for col in elevationCols:
    curCol = elevationCols[col]
    elevationCols[col] = pd.cut(curCol, [0,100,200,1000], labels=[0,1,2]) # here

elevationCols.describe()

C:\Users\duowe\AppData\Local\Temp/ipykernel_8424/3754528131.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elevationCols[col] = pd.cut(curCol, [0,100,200,1000], labels=[0,1,2]) # here

,1_elevation,2_elevation,3_elevation,4_elevation,5_elevation,6_elevation,7_elevation,8_elevation,9_elevation,10_elevation,...,16_elevation,17_elevation,18_elevation,19_elevation,20_elevation,21_elevation,22_elevation,23_elevation,24_elevation,25_elevation
count,10864,10864,10864,10864,10864,10864,10864,10864,10864,10864,...,10864,10864,10864,10864,10863,10864,10864,10864,10864,10863
unique,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
top,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
freq,5169,5167,5170,5178,5177,5164,5163,5167,5171,5178,...,5159,5162,5175,5182,5187,5170,5175,5177,5186,5194