# Binning

Tip on creating a new features;
We can categorise the elevation variables through binning.
For example: Elevations from 0 - 100 can be categorised as steep, 100 - 120 very steep and maybe elevations with more than 120 can categorised as extremely steep.
Experiment with different bins and choose the ones with the highest performance.

### Elevation

in second argument of pd.cut you can configure the bins, and label is the name of respective bin
so here 0-99 is bin 0, 100-199 is bin 1, 200-999 is bin 2, else it's NaN

In [2]:
import pandas as pd
import numpy as np
from dfcols import all_square_cols

train = pd.read_csv('./data/Train.csv')
test = pd.read_csv('./data/Test.csv')
sample_submission = pd.read_csv('./data/SampleSubmission.csv')

# elevationCols = all_square_cols("elevation")

# elevationCols = train[elevationCols]

# for col in elevationCols:
#     curCol = elevationCols[col]
#     elevationCols[col] = pd.cut(curCol, [0,100,200,1000], labels=[0,1,2]) # here

# train_binning = train.replace(elevationCols)

# train_binning.describe(include = 'all')

C:\Users\duowe\AppData\Local\Temp/ipykernel_12908/1298142667.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elevationCols[col] = pd.cut(curCol, [0,100,200,1000], labels=[0,1,2]) # here

,Sample_ID,1_elevation,2_elevation,3_elevation,4_elevation,5_elevation,6_elevation,7_elevation,8_elevation,9_elevation,...,17_sdoif,18_sdoif,19_sdoif,20_sdoif,21_sdoif,22_sdoif,23_sdoif,24_sdoif,25_sdoif,Label
count,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,...,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000
mean,5432.500000,1.232695,1.239875,1.239691,1.230762,1.241900,1.262887,1.234168,1.252577,1.243833,...,1.301055,1.301038,1.301020,1.301000,1.301055,1.301036,1.301018,1.301001,1.300983,0.250000
std,3136.310996,0.826790,0.832844,0.829352,0.832489,0.817865,0.822965,0.826819,0.821718,0.824747,...,0.051938,0.051922,0.051905,0.051888,0.051981,0.051965,0.051949,0.051932,0.051916,0.433033
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.092410,1.092404,1.092393,1.092387,1.092354,1.092344,1.092337,1.092326,1.092320,0.000000
25%,2716.750000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,...,1.286458,1.286418,1.286371,1.286364,1.286440,1.286447,1.286387,1.286365,1.286335,0.000000
50%,5432.500000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,1.308175,1.308136,1.308103,1.308072,1.308206,1.308184,1.308142,1.308116,1.308085,0.000000
75%,8148.250000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,1.331691,1.331653,1.331616,1.331562,1.331760,1.331731,1.331665,1.331633,1.331575,0.250000
max,10864.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,1.370620,1.370627,1.370631,1.370637,1.370607,1.370612,1.370618,1.370623,1.370629,1.000000

In [5]:
binningCols = train[all_square_cols("slope")]

def bin(i):
    if i  < 5: return 0
    elif i < 22: return 1
    elif i < 28: return 2
    elif i < 35: return 3
    elif i < 50: return 4
    else: return 5
x = 0
for col in binningCols:
    binned = list(map(bin, binningCols[col]))
    train["col"+str(x)] = binned
    x += 1

train.describe()

,Sample_ID,1_elevation,2_elevation,3_elevation,4_elevation,5_elevation,6_elevation,7_elevation,8_elevation,9_elevation,...,col15,col16,col17,col18,col19,col20,col21,col22,col23,col24
count,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,...,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000
mean,5432.500000,225.017489,224.925074,224.801730,224.673417,224.586156,225.050994,224.940630,224.792710,224.655468,...,2.486193,2.522459,2.553203,2.552375,2.498435,2.473398,2.484444,2.493189,2.495029,2.464654
std,3136.310996,158.419265,158.337494,158.264168,158.217713,158.185548,158.421040,158.333362,158.253865,158.201409,...,1.132399,1.131854,1.135375,1.145182,1.144691,1.131764,1.127407,1.132707,1.135800,1.135504
min,1.000000,3.000000,3.000000,4.000000,2.000000,1.000000,3.000000,4.000000,4.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2716.750000,101.750000,101.000000,101.000000,101.000000,101.000000,102.000000,101.000000,101.000000,101.000000,...,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,5432.500000,191.000000,192.000000,192.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,...,2.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
75%,8148.250000,312.000000,311.250000,312.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,...,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,10864.000000,901.000000,904.000000,907.000000,909.000000,912.000000,905.000000,908.000000,910.000000,910.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000